<div>
  <div>
    <label title="Grupa">
      <select [(ngModel)]="teamId" (change)="getStudentNames()">
        <option>Selecteaza grupa</option>
        <option *ngFor="let team of teamsList" [value]="team.id">Grupa {{team.id}}</option>
      </select>
    </label>
    <br />
    <form name="students">
      <div *ngFor="let student of studentsList">
        <input type="radio" [value]="student.id">{{student.firstName}} {{student.lastName}}
      </div>
    </form>
    <br />
    <select name="session">
      <option value="session1">Session 1</option>
      <option value="session2">Session 2</option>
      <option value="session3">Session 3</option>
    </select>
    <br />
    <button type="button" >Start</button>

    Add rating select page
    Add description enter page + submit
  </div>
</div>
