<mat-spinner *ngIf="dataReady != true"></mat-spinner>
<mat-card class="form-area" *ngIf="dataReady">
  <form #myForm="ngForm">
    <mat-form-field>
      <input matInput type="text" pattern="[A-Za-z ]{1,32}" [(ngModel)]="selectedStudent.firstName" name="firstName" placeholder="Prenume" value="{{selectedStudent.firstName}}" [disabled]="!update">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" pattern="[A-Za-z ]{1,32}" [(ngModel)]="selectedStudent.lastName" name="lastName" placeholder="Nume" value="{{selectedStudent.lastName}}" [disabled]="!update">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="email" name="email" [(ngModel)]="selectedStudent.email" placeholder="Email" value="{{selectedStudent.email}}" [disabled]="!update">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="tel" pattern="[0-9 ]{10}" [(ngModel)]="selectedStudent.phoneNumber" name="phoneNumber" placeholder="Telefon" value="{{selectedStudent.phoneNumber}}" [disabled]="!update">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" max="100" [(ngModel)]="selectedStudent.skill" name="skill" placeholder="Skill" value="{{selectedStudent.skill}}" [disabled]="!update">
    </mat-form-field>
    <mat-form-field *ngIf="!update">
      <input matInput type="text" name="birthDateDisplay" placeholder="Data nasterii" value="{{selectedStudent.birthDate}}" [disabled]="!update">
    </mat-form-field>
    <mat-form-field *ngIf="update">
      <input matInput [matDatepicker]="picker" [(ngModel)]="selectedStudent.birthDate" name="birthDate" placeholder="{{selectedStudent.birthDate}}" [disabled]="!update">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
  <button *ngIf="!update" (click)="update=true">Edit</button>
  <div *ngIf="update" class="box">
    <button (click)="update=false; submitUpdates();" type="submit">Submit</button>
    <button (click)="update=false; ngOnInit(); " type="submit">Cancel</button>
  </div>
</mat-card>
